/* Allgemein */
.text {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

/* Index */
#start-logo {
  display: flex;
  justify-content: center;
  height: 115px;
  margin: 50px 0 50px 0;
}
#start-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0 0 0;
}
#start-hallo {
  text-align: center;
}
.text-klein {
  font-size: 0.7rem;
  text-align: center;
  margin: 30px 0 0 0;
}
.text-klein a {
  color: #000000;
}

/* Start Seite */
#buttons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin: 5%;
}

.button-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 155px;
}

.button-small {
  display: flex;
  align-items: center;
  width: 42%;
  height: 135px;
  margin: 5% 0 0 0;
  white-space: normal;
  line-height: 0.9rem;
}

.anrede {
  text-align: center;
  margin: 5% 0 0 0;
}