/* Allgemein */
@font-face { font-family: 'Encode Sans Semi Expanded';
             src: url('assets/fonts/EncodeSansSemiExpanded-Regular.ttf') format('truetype');
            }
@font-face { font-family: 'Encode Sans Semi Expanded';
             src: url('assets/fonts/EncodeSansSemiExpanded-Medium.ttf') format('truetype');
            font-weight: 600;
            }

.text, p, h1, h2, h3, h4, h5, body, html, .page, .list, .text-input--material, .button {
  font-family: 'Encode Sans Semi Expanded', sans-serif !important;
}

.fab {
  background-color: #36EBB4 !important;
  color: #ffffff !important;
}

.toolbar {
  height: 60px;
}

ons-button {
  background-color: #36EBB4 !important;
}

#buttons .button {
  background-color: #FFFFFF !important;
}

#buttons ons-button img {
  height: 70%;
  width: auto;
  padding: 0 30% 0 0;
}

/* Index */
#start-logo {
  display: flex;
  justify-content: center;
  height: 115px;
  margin: 50px 0 50px 0;
}
#start-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 0 0 0;
}
#start-hallo {
  text-align: center;
}
.text-klein {
  font-size: 0.7rem;
  text-align: center;
  margin: 30px 0 0 0;
}
.text-klein a {
  color: #000000;
}

#index-text {
  width: 50%;
  transform: translateX(50%);
}

/* Start Seite */
.toolbar-mit-logo {
  background-color: #fdfdfd;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
#logo-toolbar {
  height: 30px;
  margin: 15px 0;
}
#buttons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  margin: 5%;
}

.button-big {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 155px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  background-color: #fdfdfd;
  color: #000000;
  opacity: 0.54;
  border: none;
  flex-wrap: wrap;
}

.button-small {
  display: flex;
  align-items: center;
  width: 42%;
  height: 135px;
  margin: 5% 0 0 0;
  white-space: normal;
  line-height: 0.9rem;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  background-color: #fdfdfd;
  color: #000000;
  opacity: 0.54;
  border: none;
  flex-wrap: wrap;
}

.button-small img {
  width: 50%;
  transform: translateX(50%);
}

.button-big img {
  width: 40%;
}

.anrede {
  text-align: center;
  margin: 10% 0 0 0;
}
.anrede p {
  margin: 3% 7%;
}

/* Context-Menü */
.einstellung {
  width: 60%;
  margin: 5% 0 0 0;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  position: fixed;
  z-index: 999;
  transform: translateX(80%);
}
.invisible {
  display: none;
}
.context-menu {
  padding: 10% 5%;
}
.context-menu ons-button {
  margin: 3% 0;
}

/* Chatbot */
.chat {
  display: flex;
  margin: 0 5% 7% 5%;
  flex-wrap: wrap;
}
.user-msg {
  background-color:#36EBB4;
  color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px 18px 0 18px;
  width: 50%;
  height: 8%;
  margin-top: 5%;
  padding: 0 3%;
  transform: translateX(80%);
}

.bot-msg {
  background-color:#ffffff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px 18px 18px 0;
  width: 50%;
  height: 8%;
  margin-top: 5%;
  padding: 0 3%;
}
.bot-msg-liste {
  background-color:#ffffff;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px 18px 18px 0;
  width: 65%;
  height: 8%;
  margin-top: 5%;
  padding: 0 3%;
}
.bot-msg p {
  padding: 0 3%;
}

/* Input */
#beschwerden-input, #datum-input {
  opacity: 0;
  position: fixed;
  bottom: 5px;
  width: 78%;
  margin: 2% 5%;
}
#uhrzeit-input, #medikament-input {
  display: none;
  position: fixed;
  bottom: 5px;
  width: 78%;
  margin: 2% 5%;
}

/* Diagnose-Dialogfelder */
.diagnose-beobachten {
  background-color: #ffc107;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px;
  width: 90%;
  height: 40%;
  margin: 5% 0;
  padding: 0 3%;
}
.diagnose-gefaehrlich {
  background-color:#ff1744;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px;
  width: 90%;
  height: 40%;
  margin: 5% 0;
  padding: 0 3%;
}

.diagnose-arzt {
  background-color:#ff6e40;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px;
  width: 90%;
  height: 40%;
  margin: 5% 0;
  padding: 0 3%;
}

.diagnose-entwarnung {
  background-color:#36EBB4;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px;
  width: 90%;
  height: 40%;
  margin: 5% 0;
  padding: 0 3%;
}

/* Digitales Rezept */
.rezept {
  background-color:#bdbdbd;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 18px;
  width: 90%;
  height: 40%;
  margin: 5% 0;
  padding: 0 3%;
}
.rezept img {
  height: 100px;
  margin: 4%;
}
.rezept h3 {
  padding:4% 0 0 0;
}

/* Apothekenfinder Expandable List */
#range {
  width: 85%;
  position: fixed;
  bottom: 18px;
  left: 2px;
}
.expandable-content p {
  font-size: 0.8rem;
  line-height: 0.7rem;
}
.expandable-content a {
  font-size: 0.8rem;
  line-height: 0.7rem;
  color: #36EBB4;
  text-decoration: none;
}
.expandable-content h4 {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
  padding: 2% 0 0 0;
}
.expandable-content {
  padding: 0 0 5% 0;
}

/* Back to Start Button */
#start-btn, #start-btn2 {
  margin: 5% 0 0 0;
}

/* Opacity: 0 */
#beschwerden, #beschwerden-fab, #user-beschwerden, #bot-nachfrage, #symptome-liste, #klar, #arzt-auswahl, #aerzte-liste, #frage-termin, #user-datum, #frage-zeit, #termine-liste, #medi-auswahl, #medi-liste, #okay, #user-medi-liste, #bot-medi-bestätigung, #bot-zeigen, #bot-umkreis, #apo-list, #start-btn, #ordnung, #bot-show-medi, #medi-liste2, #bot-intervall-frage, #intervall-liste, #bot-frage-uhrzeit, #bot-confirm-erinnerung, #user-msg-umkreis {
  opacity: 0;
}

/* Display: None */
#migraene-fab, #meni-fab, #aerzte-fab, #datum-fab, #termine-fab, #medi-fab, #medi-fab2, #intervall-fab, #uhrzeit-fab, #qr-rezept-akte, #qr-rezept-fail-akte, #diagnose-migraene, #diagnose-meni, #qr-rezept, #qr-rezept-fail, #rezept-arzt, #start-btn2, #range, #apo-fab, #medikament-fab, #schild-fab, #mandel-fab, #kalt-fab, #blind-fab, #eisen-fab, #dia-fab, #diagnose-schild, #diagnose-kalt, #diagnose-mandel, #diagnose-blind, #diagnose-eisen, #diagnose-dia, #unwohl-arzt {
  display: none;
}

@media screen and (max-width: 600px){
  #index-text {
  width: 100%;
  transform: translateX(0);
  }
  #buttons ons-button img {
  height: 70%;
  width: 50%;
  padding: 0;
  }
}